@import '../../styles/imports';

.header {
  background-color: theme(primary);
  color: theme(white);
  padding: $header-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-image {
  fill: theme(white);
}

.header__title {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
